#hero{
    height: 100vh;
background-image: url(images/homeimage.png);
background-size: cover;
box-sizing: border-box;
border-radius: 0px 0px 60px 60px;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 40px;
}
#hero ul li{
list-style: none;
}
#hero a{
    text-decoration: none;
    color: #07484A;
}

#hero a:hover{
    text-decoration: underline;
    font-weight: 700;
}
#hero a:active{
    text-decoration: underline;
     font-weight: 700;
    
}
.cta-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}
#cta h1{
    color: #07484A;
    font-weight: bolder;
    font-size: 64px;

}
#cta p{
    font-size:24px;
    color: #07484A;
}
#cta button{
    font-size: 16px;
    /* border: 1 px solid #07484A; */
    /* padding: 12px ; */
    background-color: #07484A;
    outline: none;
    border: none;
    padding: 10px 20px;
    color: white;
}

.category-wrapper{
    display: flex;
    gap: 60px;

}
.category-img-wrapper{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
#categories #input{
background-color: #F0F0F0;
color: #6E757E;
 padding: 10px 20px;
 border-radius: 10px;
}
#categories h2{
    text-align: center;
    font-size: 40px;
    color: #07484A;
    font-weight: 700;
}
#categories input{
    border: none;
   background-color: transparent;
}

#categories input:focus{
    outline: none;
}
#categories ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#categories ul li{
    list-style: none;
    color: #07484A;
}

.category{
    height: 200px;
    width: 400px;
    margin-bottom: 30px;
    border-radius: 10px;
     background-size: cover;
}
.category button{
    display: none;
}
.category:hover button{
    display: flex;
}
.category p{
    display: none;
}
.category:hover p{
    display: flex;
}
.cat-1{
    background-image: url(images/bedroom.jpeg);
    background-size: cover;
}
.cat-2{
    background-image: url(images/dinning.jpeg);
    background-size: cover;
}
.cat-3{
    background-image: url(images/meeting.png);
    background-size: cover;
}
.cat-4{
    background-image: url(images/work.jpeg);
    background-size: cover;
}
.cat-5{
    background-image: url(images/kitchen.png);
    background-size: cover;
}
.cat-6{
    background-image: url(images/living.jpeg);
    background-size: cover;
}

.category p{
    color: #07484A;
    font-size: 20px;
    font-weight: bold;
   
}
.category .cat-bg{
    /* width: 100%;
    height: 100%; */
     margin: 40px 60px;
    color: rgba(0, 0, 0, 0.112);
}
.category button{
    background-color: E0EFF6;
    border: none;
    color: #07484A;
    padding: 12px 24px;
    border-radius: 8px;
}
.popular{
    position: relative;
}
.popular>img{
    position: absolute;
    z-index: 0;
}
.popular #popular-content{
   
    position: absolute;
    right: 0;
     z-index: 99;
   
}
#products{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.product-item h3{
    font-weight: bold;
    font-size: 20px;
    color: #07484A;
}
.product-item{
    border-radius: 16px;
    padding: 40px;
    width: 300px;
    
}
.product-item:hover{
    transform: translateY(-60px);
    cursor: pointer;
}
.product-1{
    background-color: #CAF3E5;
}
.product-2{
    background-color: #CAF3E5;
}
.product-3{
    background-color: #CAF3E5;
}
.product-4{
    background-color: #CAF3E5;
}

.all-cat{
    border: none;
    background-color: #07484A;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    color: white;
}